* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    color: #D9DFE8;;
    background: #2E2E48;
}
h1 {
    font-size: 2em;
    margin: 0;
}
h2 {
    margin: 0;
    font-weight: 500;
}
h3 {
    font-size: 16px;
    color: #ACB1C3;
}
pre {
    margin-bottom: 0;
    font-family: monospace, monospace;
    font-size: 1em;
}
p {
    margin: 0;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
ul, li {
    padding: 0;
    list-style: none;
}
img {
    border-style: none;
}
a:hover {
    background: linear-gradient(90deg, #A478E8 0%, #516CF7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.container {
    padding: 0px 15px 0px 15px;
    margin: 0 auto;
}
.header > .container {
    min-height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu__list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
.menu__item {
    margin-right: 20px;
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__item:last-child > .menu__link {
    border-left: 1px solid white;
    padding-left: 16px;
}
.main > .container {
    display: flex;
}
.left-block {
    padding: 24px 28px 0 24px;
    flex: 0 1 31%;
    background: url("../img/aside.png") center center/cover no-repeat;
}
.name {
    position: relative;
}
.name::after {
    content: "";
    margin-top: 30px;
    display: block;
    width: 250px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}
.name__img {
    width: 150px;
    height: 150px;
    padding: 5px;
    background-color: #D9DFE8;;
    border-radius: 100%;
}
.name__fullname {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}
.name__position {
    margin-top: 5px;
    font-size: 20px;
    background: linear-gradient(90deg, #A478E8 0%, #516CF7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.about {
    margin-top: 20px;
    font-size: 16px;
}
.about__title {
    color: #ACB1C3;
    font-size: 14px;
}
.contacts {
    margin-top: 25px;
}
.contacts::after {
    content: "";
    margin-top: 25px;
    display: block;
    width: 250px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}
.socials__card, .languages__card {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.socials__card:first-child, .languages__card:first-child {
    margin-top: 0;
}
.contacts__block {
    display: flex;
}
.contacts__icon-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}
.contacts__info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
.contacts__info-item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.contacts__info-item:first-child {
    margin-top: 0;
}
.contacts__icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    background: #2E2E48;
    border-radius: 100%;
    margin-top: 20px;
}
.contacts__icon:first-child {
    margin-top: 0;
}
.card__title {
    font-size: 14px;
    color: #ACB1C3;
}
.contacts__info, .socials__info, .languages__info {
    display: flex;
    flex-direction: column;
}
.socials {
    margin-top: 25px;
}
.socials__icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.socials::after {
    content: "";
    margin-top: 25px;
    display: block;
    width: 250px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}
.languages {
    margin-top: 25px;
}
.languages__icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.right-block {
    padding: 32px 24px 24px 32px;
    flex: 0 1 69%;
    background: #232339;
}
.experience__card {
    margin: 0px 12px 0px 12px;
}
.experience__title {
    margin-bottom: 25px;
}
.student {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: #312163;
    border-radius: 4px 4px 0px 0px;
}
.lawyer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: #2E2E48;
}
.experience__main-info {
    display: flex;
    align-items: center;
}
.experience__icon{
    margin-right: 10px;
}
.experience__img {
    width: 45px;
    height: 45px;
}
.experience__company-info {
    display: flex;
    flex-direction: column;
}
.experience__position {
    color: #ACB1C3;
}
.experience__company {
    margin-top: 5px;
}
.experience__details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.experience__period {
    font-size: 12px;
}
.present {
    padding: 4px;
    background: #5531A7;
    border-radius: 2px;
}
.experience__address {
    margin-top: 5px;
    font-size: 12px;
    color: #ACB1C3;
}
.right-block__skills {
    margin-top: 40px;
}
.skills__title {
    margin-bottom: 25px;
}
.skills__panel {
    display: flex;
    margin: 0px 12px 0px 12px;
}
.development {
    margin-top: 10px;
}
.skills__info {
    display: flex;
    flex-direction: column;
    width: 100px;
}
.theme__icon {
    width: 20px;
    height: 20px;
}
.theme__title {
    font-size: 12px;
    margin-top: 5px;
}
.skills__cards-block {
    display: flex;
    align-items: center;
    margin: 0;
}
.skills__card {
    margin-right: 5px;
}
.development>.cards-block>.skills__card {
    padding: 16px 8px;
    background: #2E2E48;
    color: #95AAFB;
}
.development>.cards-block>.skills__card:first-child {
    border-radius: 4px 0px 0px 4px;
}
.development>.cards-block>.skills__card:last-child {
    border-radius: 0px 4px 4px 0px;
}
.soft-skills>.cards-block>.skills__card {
    padding: 16px 8px;
    background: #2E2E48;
    color: #C696FC;
}
.soft-skills>.cards-block>.skills__card:first-child {
    border-radius: 4px 0px 0px 4px;
}
.soft-skills>.cards-block>.skills__card:last-child {
    border-radius: 0px 4px 4px 0px;
}
.right-block__education {
    margin-top: 40px;
}
.education__title {
    margin-bottom: 25px;
}
.education__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 12px 0px 12px;
}
.education__card {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 10px;
    background: #2E2E48;
}
.education__description {
    margin-top: 10px;
}
.education__cards .education__card:first-child {
    border-radius: 4px 0px 0px 4px;
}
.education__cards .education__card:last-child {
    border-radius: 0px 4px 4px 0px;
}
.education__name {
    display: flex;
    align-items: center;
}
.education__icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 10px;
}
.education__platform {
    font-size: 12px;
}
.education__course {
    font-size: 14px;
}
.education__time {
    margin-top: 5px;
    font-size: 12px;
    color: #ACB1C3;
}
.right-block__example {
    margin-top: 40px;
}
.example__title {
    margin-bottom: 25px;
}
.example__code-block {
    margin: 0px 12px 0px 12px;
    padding: 10px;
    background: #2E2E48;
    border-radius: 4px 4px 4px 4px;
}
.example__code > p {
    text-indent: 20px;
}
.code__mobile {
    display: none;
}
.example__task {
    font-weight: 600;
}
.right-block__projects {
    margin-top: 40px;
}
.projects__title {
    margin-bottom: 25px;
}
.projects__cards {
    display: flex;
    flex-direction: column;
}
.projects__card {
    margin: 20px 12px 0px 12px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background: #2E2E48;
    border-radius: 4px 4px 4px 4px;
}
.projects__card:first-child {
    margin-top: 0;
}
.projects__icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.projects__description {
    color: #ACB1C3;
    margin-top: 10px;
}
.projects__link {
    margin-top: 10px;
}
.projects__info {
    display: flex;
    flex-direction: column;
}
.right-block__tools {
    margin-top: 40px;
}
.tools__title {
    margin-bottom: 25px;
}
.tools__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.tools__card {
    margin: 0px 12px 0px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background: #2E2E48;
    border-radius: 4px 4px 4px 4px;
}
.tools__name, .tools__description {
    margin-top: 5px;
}
.tools__icon {
    width: 40px;
    height: 40px;
}
.tools__description {
    text-align: center;
    font-size: 12px;
    color: #ACB1C3;
}
.footer > .container {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo {
    max-width: 70px;
    height: 70px;
}
@media (min-width: 320px) {
    .container {
        max-width: 320px;
    }
}
@media (min-width: 479px) {
    .container {
        max-width: 420px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (max-width: 992px) {
    .main > .container {
        flex-direction: column;
    }
    .left-block {
        padding: 32px 24px 24px 32px;
        background: #232339;
        display: grid;
        grid-template-areas:
        "a a a a   a a a a   a a a a"
        "b b b b   c c c c   d d d d";
    }
    .name {
        grid-area: a;
    }
    .contacts {
        grid-area: b;
    }
    .socials {
        grid-area: c;
    }
    .languages {
        grid-area: d;
    }
    .name::after,
    .contacts::after,
    .socials::after,
    .languages::after  {
        display: none;
    }
    .experience__card, 
    .skills__panel,
    .education__cards,
    .example__code-block,
    .projects__card {
        margin-left: 0;
        margin-right: 0;
    }
    .tools__card {
        margin-left: 0;
        margin-right: 10px;
    }
    .tools__card:last-child {
        margin-right: 0;
    }
}
@media (max-width: 768px) {
    .contacts__icon,
    .socials__icon,
    .languages__icon {
        display: none;
    }
    .contacts__icon-block {
        margin-right: 0;
    }
    .skills__cards-block {
        font-size: 13px;
    }
}
@media (max-width: 576px) {
    .header__menu {
        font-size: 13px;
    }
    .header > .container {
        justify-content: center;
    }
    .left-block {
        display: flex;
        flex-direction: column;
    }
    .contacts__icon,
    .socials__icon,
    .languages__icon {
        display: block;
    }
    .contacts__icon-block {
        margin-right: 10px;
    }
    .skills__info {
        display: none;
    }
    .education__cards {
        grid-template-columns: 1fr;
    }
    pre {
        font-size: 12px;
    }
    .tools__cards {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 479px) {
    .menu__list > .menu__item {
        display: none;
    }
    .menu__list > .menu__item:last-child {
        display: block;
    }
    .menu__item:last-child > .menu__link {
        border-left: none;
        padding-left: 0;
    }
    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .name__position {
        text-align: center;
    }
    .about {
        text-align: center;
    }
    .experience__img {
        display: none;
    }
    .experience__address {
        text-align: right;
    }
    .experience__company {
        font-size: 13px;
    }
    .skills__cards-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
    }
    .example__task {
        font-size: 12px;
    }
    .code__desktop {
        display: none;
    }
    .projects__card {
        font-size: 13px;
        padding: 8px 6px;
    }
    .projects__icon {
        display: none;
    }
    footer {
        font-size: 13px;
    }
    .footer__logo {
        max-width: 50px;
        height: 50px;
    }
}
